<h1>New Comment</h1>
<%= form_with model: @comment, url: user_post_comments_path do |form| %>
  <div class="form-cont">
    <div class="form-field">
      <%= form.label :comment, :class => 'form-title' %> <br>
      <%= form.text_area :text, required: true, :class => 'form-text-area' %>
    </div>
    
    <%= form.submit %>
  </div>
<% end %>